.tartalom {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
img {
  margin: 0;
}
.menu {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
}
p {
  text-align: justify;
}

@media screen and (max-width: 700px) {
  body,p {
    width: 100%;
    font-size:calc( 12px + 2vw)
  }
 
  .tartalom {
    grid-template-columns: 1fr;
  }

  .menu {
    grid-auto-flow: row;
  }
}
